// Screen reader only
// From: https://github.com/twbs/bootstrap/blob/main/scss/mixins/_visually-hidden.scss
.sr-only {
  position: absolute;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
  padding: 0 !important;
  overflow: hidden !important;
  white-space: nowrap !important;

  // Fix for positioned table caption that could become anonymous cells
  &:not(caption) {
    position: absolute !important;
  }
}
