.animated-btn {
  display: block;
  height: 140px;
  width: 100%;
  font-size: 75px;

  + button {
    margin-top: 15px;
  }

  // Class that gets toggled on the button via JavaScript
  &.spin {
    .spinner {
      animation: spin .1s linear infinite;
      display: inline-block;
    }
  }

  // Class that gets toggled on the button via JavaScript
  &.zoom {
    .zoomer {
      animation: zoom .4s linear infinite;
      display: inline-block;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes zoom {
  0% {
    transform: scale(.5);
  }

  25% {
    transform: scale(1.25);
  }

  50% {
    transform: scale(1.5);
  }

  75% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}
